{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <h2 class="mb-4">Order Details</h2>

    <h4>Order ID: {{ order.idtransaksi }}</h4>
    <p>Nomor Resi: {{ order.resi }}</p>
    <p>Nama Pembeli: {{ order.namapembeli }}</p>
    <p>Total Harga: Rp. {{ order.totalharga }}</p>

    <!-- Daftar Item -->
    <h5>Items:</h5>
    <ul>
        {% for item in items %}
        <li>{{ item.product.namaproduk }} - Quantity: {{ item.jumlah }} - Price: Rp. {{ item.harga }}</li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('order.list_orders') }}" class="btn btn-primary">Back to Order List</a>
</div>
{% endblock %}
